---
layout: page
title: "Work Experiences and Projects"
---

<!-- {% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Projects" %}
{% endif %} -->

<div class="w3-container">
<h2> Work Experiences </h2>


<h3> Orbis System - Software Engineer Intern </h3>
  <ul>
    <li> Transferred the code base of Orbis Colmex Pro, a stock trading mobile app, from Xamarin to .NET MAUI (Multi-platform 
      App UI) development framework (XAML and C#). </li>
    <li> Adjusted GUIs and web services to achieve application performance consistency between iOS and Android. </li>
    <li> Researched on and conducted multiple experimental frontend projects in MAUI and MAUI with Blazor. </li>
    <li> Evaluated the functionalities (GUIs and visual display, cross-platform consistency, libraries) provided by Xamarin, MAUI,
      and MAUI with Blazor. Compared the performance of app functionalities on each .NET framework. </li>
  </ul>

<h3> PingAn Technology - Intern of Computer Vision Group </h3>
  <ul> 
    <li> Conducted tests on different algorithms’ effectiveness in analyzing still and dynamic facial samples captured by IR and
RGB cameras of varied qualities and strengths. Enhanced non-liveness recall rate from 93% to 98%. </li>
    <li> Processed >1,000 video samples with test programs and performed statistical analysis on runtime results. </li>
    <li> Collaborated with the algorithm development group to evaluate the performance of algorithms over a diverse set of data,
camera parameters, and background OpenCV models. </li>
    <li> Improved the efficiency of testing procedure by optimizing data processing APIs (C++, Python, JSON, Bash) and
multiprocessing setups of existing testing programs/APIs in Linux and Windows environment. </li>
  </ul>
</div>
